<div class="row">
  <div class="col">
    <h2>Assignments</h2>
    <ul class="list-group">
      <li class="list-group-item justify-content-between" *ngFor="let assignment of assignments" (click)="onSelect(assignment)" [class.active]="assignment === selectedAssignment">
        <button class="btn btn-danger" (click)="deleteAssignment(assignment); $event.stopPropagation()">X</button>
        <span> {{assignment.name}}</span>
      </li>
    </ul>
    <button type="button" class="btn btn-success" routerLink="/add-assignment">Add Assignment</button>
  </div>
  <div class="col">
    <assignment-detail [assignment]="selectedAssignment"></assignment-detail>
  </div>
</div>
