<div class="row">
  <div class="col">
    <h2>Teachers</h2>
    <ul class="list-group">
      <li class="list-group-item justify-content-between" *ngFor="let teacher of teachers" (click)="onSelect(teacher)" [class.active]="teacher === selectedTeacher">
        <button class="btn btn-danger" (click)="deleteTeacher(teacher); $event.stopPropagation()">X</button>
        <span>{{teacher.first_name}} {{teacher.last_name}}</span>
      </li>
    </ul>
    <button type="button" class="btn btn-success" routerLink="/add-teacher">Add Teacher</button>
  </div>
  <div class="col">
    <teacher-detail [teacher]="selectedTeacher"></teacher-detail>
  </div>
</div>
