<div *ngIf="class">
  <div class="jumbotron">
    <h6>Name: {{class.name}}</h6>
    <h6>Description {{class.description}}</h6>
    <h6>Teacher: {{class.teacher.first_name}} {{class.teacher.last_name}}</h6>
  </div>
  <form novalidate (ngSubmit)="saveClass()">
    <div class="form-group">
      <label>Name: </label>
      <input class="form-control" type="text" [(ngModel)]="class.name" placeholder="Enter Class Name" name="name">
    </div>
    <div class="form-group">
      <label>Description: </label>
      <input class="form-control" type="text" [(ngModel)]="class.description" placeholder="Enter Class Name" name="description">
    </div>
    <label>Teacher: </label>
    <select class="form-control" [(ngModel)]="class.teacher" name="teacher">
      <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.first_name}} {{teacher.last_name}}</option>
    </select>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
  <h2>Assignments</h2>
  <ul class="list-group">
    <li class="list-group-item justify-content-between" *ngFor="let assignment of assignments">
      <button class="btn btn-danger" (click)="deleteAssignment(assignment); $event.stopPropagation()">X</button>
      <span>{{assignment.name}}</span>
    </li>
  </ul>
  <button type="button" class="btn btn-success" routerLink="/add-assignment">Add Assignment</button>
  <h2>Students</h2>
  <ul class="list-group">
    <li class="list-group-item justify-content-between" *ngFor="let student of studentsInClass">
      <button class="btn btn-danger" (click)="unenrollStudent(student); $event.stopPropagation()">X</button>
      <span>{{student.first_name}}  {{student.last_name}}</span>
    </li>
  </ul>
  <button type="button" class="btn btn-success" (click)="enrollStudent()">Enroll Student</button>
  <select class="form-control add-btn-select" [(ngModel)]="studentToEnroll" name="student">
    <option *ngFor="let student of allStudents" [ngValue]="student">{{student.first_name}}  {{student.last_name}}</option>
  </select>
</div>
