/* You can add global styles to this file, and also import other style files */
select.form-control.add-btn-select {
  width: auto;
  display: inline;
}

div.jumbotron {
  margin-top: 55px;
}

h2 {
  margin-top: 10px !important;
}
